.star-border-overlay {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: 50;
  overflow: hidden;
  transform: translateZ(0);
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 1;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 10;
}

.border-gradient-top {
  position: absolute;
  opacity: 1;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 10;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}